.ServicePageContent{
    margin-top: 10rem;
   
}
.ServicePageContent {
	min-height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;
}

.services .box {
	background-color:#12141c;
	overflow:hidden;
	transition: .3s ease;
}
.services .box i {
	color:#f26c4f;
	transition:inherit;
	transition-delay: 0s
}
.services h4 {
	color:#fff;
	transition:inherit;
	transition-delay: .05s;
}
.services p {
	color:#dfdfdf;
	transition:inherit;
	transition-delay: .1s;
}
.readmore {
	color:#fff;
	overflow: hidden;
    display: inline-block;
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    position: relative;
    padding-right: 2rem;
}
.readmore:before {
	animation: ts-link-arrow-effect-animation-out;
    animation-fill-mode: forwards;
    animation-duration: .4s;
    animation-timing-function: cubic-bezier(.6, .01, 0, 1);
    background-color: #f26c4f;
    bottom: 0;
    height: .125rem;
    margin: auto;
    left: 0;
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    transform: scaleX(.2);
    transform-origin: left center;
    z-index: 0;
}
.readmore span {
	position: relative;
    transform: translateX(-200%);
    display: inline-block;
    transition: .6s cubic-bezier(.6, .01, 0, 1);
}
.services .box:hover .readmore span {
    transform: translateX(0%);
}
.services .box:hover .readmore:before {
	animation: ts-link-arrow-effect-animation-in;
    animation-fill-mode: forwards;
    animation-duration: .4s;
    animation-timing-function: cubic-bezier(.6, .01, 0, 1);
}
.services img{
    filter: invert(100%);
    height: 8rem;
    width: 10rem;
}
.services .box:hover img,
.services .box:hover h4,
.services .box:hover p {
    transform: translateY(-0.625rem);
}
@keyframes ts-link-arrow-effect-animation-out {
    0% {
        transform-origin: right center;
        transform: scaleX(.2);
    }

    70% {
        transform-origin: right center;
    }

    71% {
        transform-origin: left center;
        transform: scaleX(1);
    }

    100% {
        transform-origin: left center;
        transform: scaleX(.2);
    }
}
@keyframes ts-link-arrow-effect-animation-in {
    0% {
        transform-origin: left center;
        transform: scaleX(.2);
    }

    70% {
        transform-origin: left center;
        transform: scaleX(1);
    }

    71% {
        transform-origin: right center;
    }

    100% {
        transform-origin: right center;
        transform: scaleX(.2);
    }
}